@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #707070;
}

img {
  display: block;
  width: 100%;
}

.main {
  overflow: hidden;
  background-color: #ffffff;
}

.hero-img {
  margin: 0;
  position: relative;
}

.hero-img figcaption {
  color: #ffffff;
  background-color: rgba(0,0,0,0.5);
  padding: 20px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 300;
}

.main {
  border-radius: 5px;
}

.main h1 {
  margin: 2rem 1rem;
}

.info {
  padding: 0;
}

.info li {
  float: left;
  list-style-type: none;
  width: 33.333%;
  border-left: 1px solid #c0c0c0;
  padding: 0 1em;
  margin-bottom: 2rem;
}

.info h2 {
  text-transform: uppercase;
  width: 33.333%;
  color: #c0c0c0;
  font-size: 16px;
}

.info h2,
.info p {
  margin: 0;
}
